*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.instagram-card1{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 27vw;
    border: 1px solid rgb(211, 195, 195);
    padding: 30px 50px ;
}
.instagram-card1 h1{
    font-size: 47px;
    font-family: 'Lobster Two', cursive;
    font-weight: 100;
    margin-bottom: 35px;
} 
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
form input{
    width: 20vw;
    height: 40px;
    border-radius: 0px;
    border: 1px solid rgb(211, 207, 207);
    padding-left: 7px;
    font-size: 11.5px;
    background-color: #e4e8e9;
}
form button{
    width: 20vw;
    border-radius: 7px;
    font-size: 13px;
    padding: 7px;
    border: none;
    background-color: rgb(27, 171, 228);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}
.or{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
}
.line{
    height: 1px;
    width: 8.5vw;
    background-color: rgb(211, 207, 207);
}
.facebook{
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    margin-top: 10px;
}
.facebook a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.facebook i{
    color: blue;
    cursor: pointer;
}
.forget{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.instagram-card2{
    margin-top: 10px;
    width: 27vw;
    border: 1px solid rgb(211, 195, 195);
    padding: 30px 50px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.instagram-card2 a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(16, 164, 250);
}
.get{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
/* .img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
} */
img{
    background-color: white;
    width: 250px;
    cursor: pointer;
}